<h1>Ajouter un nouveau utilisateur : </h1>
<form action="/utilisateurs/confirmAjout" method="POST">
    <label for="#id">Id</label>
    <input id="id" name="id" type="number">
    <label for="#login">Login</label>
    <input id="login" name="login" type="text">
    <label for="#pwd">Mot de passe</label>
    <input id="pwd" name="pwd" type="text">
    <br><br>
    <input type="submit" value="Ajouter">
</form>